<!--<nb-card class="col-md-10 col-lg-12 col-xxxl-12">
  <nb-card-body>                      
<div class="col-xxl-10">
    <button class="btn btn-primary"  style="position: relative !important;
    left: 96% !important;
    margin: 6px !important; "> <nb-icon icon="menu-outline"></nb-icon></button> 
     <button class="btn btn-primary"  style="position: relative !important;
     left: 85% !important;
     margin: 6px !important; "> <nb-icon icon="search-outline"></nb-icon></button> 

      <button class="btn btn-primary"  style="position: relative !important;
      left: 74% !important;
      margin: 6px !important; "> <nb-icon icon="plus-outline"></nb-icon></button> 
  </div>  </nb-card-body>
</nb-card>-->




<div class="row">
  <div class="col-xxl-10">
    <nb-card class="col-md-10 col-lg-12 col-xxxl-12">
      <nb-card-body>  
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
              <nb-icon icon="arrow-left-outline"></nb-icon>
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Aujourd'hui
            </div>
            <div  class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                <nb-icon icon="arrow-right-outline"></nb-icon>
            </div>
        </div>
      </div>

      <div class="col-md-4">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>
      </div>


      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month" >
              Mois
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
              Semaine
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day" >
              Jour
          </div>
        </div>
      </div>
    </div>
    
  
    <div [ngSwitch]="view">
      <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)" *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [locale]="locale"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"></mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [locale]="locale"></mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [locale]="locale" 
      
      
    ></mwl-calendar-day-view>

    
    </div>

  
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
  </nb-card-body>
</nb-card>
</div>


  <div class="col-xxl-2">
    <ngx-progress-section></ngx-progress-section>
  </div>

</div>





<!--<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>-->
